/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/component/navbar/navbar.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/

.navbar_navbar__c2WOU {
    height: 56px;
    padding: 0px 30px;
    background: url(/_next/static/media/header.d19f2dc3.png);
    min-width: 900px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.navbar_logout__huR5D {
    color: var(--lgray);
    cursor: pointer;
}
.navbar_logout__huR5D:hover {
    color: #e56b6b;
}

