
.navbar {
    height: 56px;
    padding: 0px 30px;
    background: url(../../assets/header.png);
    min-width: 900px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.logout {
    color: var(--lgray);
    cursor: pointer;
}
.logout:hover {
    color: #e56b6b;
}
